{% extends "receipts/base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    {% block main %}
        <body>
            <main>
                <h1>My Receipts</h1>
                <table>
                    <tr>
                        <td>name of account</td>
                        <td>account number</td>
                        <td>number of</td>
                    </tr>
                    {% for expense in accounts_objects.all %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.number }}</td>
                            <td>{{ expense.receipts.all|length }}</td>
                        </tr>
                        {% comment %} {% empty %}
                        <p>turn in your receipts or suffer the DTS system.</p> {% endcomment %}
                    {% endfor %}
                </table>
            </main>
        </body>
    {% endblock main %}
</html>
