{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "home" %}">Reciepts</a>
                        </li>
                        <li>
                            <a href="{% url "create_receipt" %}">Creat Reciept</a>
                        </li>
                        <li>
                            <a href="{% url "account_list" %}">Accounts</a>
                        </li>
                        <li>
                            <a href="{% url "create_account" %}">Creat Account</a>
                        </li>
                        <li>
                            <a href="{% url "category_list" %}">Expenses</a>
                        </li>
                        <li>
                            <a href="{% url "create_category" %}">Create Expenses</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "signup" %}">Sign up</a>
                        </li>
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block main %}
        {% endblock main %}
    </body>
</html>
