{% extends "receipts/base.html" %}

{% block title %}
    Scrumptious recipes
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url "recipes_list" %}">recipes list</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button>submit edit</button>
        </form>
    </form>
</main>
{% endblock content %}
{% comment %} {% load static %}
<!DOCTYPE html>

<html>

  <head>
    <title>editing your recipe</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  </head>

  <body>
    <header>
        <nav>
            <a href="{% url "recipes_list" %}"> recipes list</a>
        </nav>
    </header>
    <main>
      <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Create</button>
      </form>
          </form>
          
    </main>
    
    <footer>
        
            <p>MADE WITH LOVE BY SOMONE SOMWHERE<p>
    </footer>
  </body>

</html> {% endcomment %}
