{% extends "receipts/base.html" %}

{% block content %}
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p>created on: {{ recipe_object.created_on|date:" d N" }}</p>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <table>
            <p>{{ recipe_object.description }}</p>
            <ol>
                {% for step in recipe_object.steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
            </ol>
            {% if user.is_authenticated %}
                <nav>
                    <a href="{% url "edit_recipe" recipe_object.id %}">to edit this recipe</a>
                </nav>
            {% endif %}
        </main>
    {% endblock content %}
